################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Chapter08ProgramLetterCount/v16/Server/sqlite3
